<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Environment" value="Development" />
		<add key="aspnet:MaxJsonDeserializerMembers" value="5000" />

		<add key="serverName" value="localhost" />

		<!-- could store this values here for testing -->
		<add key="coolOrgCTID" value="ce-33311047-6dc8-488e-8cb4-9bb354001ca4" />
		<add key="coolOrgApiKey" value="???????????????????" />


		<!-- REGISTRY SETTINGS ========================================================================= -->
		<add key="usingGraphDocuments" value="false" />
		<add key="registryAssistantApiVersion" value="" />
		<!-- //this is only used by CE, and should be blank otherwise-->
		<add key="apiPublisherIdentifier" value="" />
		<add key="defaultCommunity" value="ce_registry" />
		<add key="requestedCommunity" value="navy" />
		<!-- when true, only the CTID will be sent to api, let api format as needed -->
		<add key="apiFormattingRegistryUrisAsCTID" value="true" />
		<add key="usingRegistryAssistantForMapping" value="true" />

		<!-- sandbox -->
		<!-- api key for manual publisher site
	sandbox 
		<add key="apiPublisherIdentifier" value="?????????????????????????" />

		<add key="CEAccountOrganizationByCTID" value="http://ctitest.siuccwd.com/accountsApi/Organization/GetByCTID?ctid={0}&amp;password={1}" />

		<add key="registryAssistantApi" value="http://credentialengine.org/raSandbox/" />

		<add key="credentialRegistryUrl" value="https://sandbox.credentialengineregistry.org" />
		<add key="credentialGetByEnvelopeId" value="https://sandbox.credentialengineregistry.org/ce-registry/envelopes/{0}" />
		<add key="credentialRegistrySearch" value="https://sandbox.credentialengineregistry.org/ce-registry/search?" />
		<add key="credRegistryResourceUrl" value="https://sandbox.credentialengineregistry.org/resources/" />
		<add key="credRegistryGraphUrl" value="https://sandbox.credentialengineregistry.org/graph/" />
	-->
		<!-- staging
			using navy community across board
		-->
		<add key="registryAssistantApi" value="http://staging.credentialengine.org/assistant/" />
		<add key="navyRegistryAssistantApi" value="https://credentialengine.org/navySandboxApi/" />
		<add key="credentialRegistryUrl" value="https://staging.credentialengineregistry.org" />
		<add key="credentialGetByEnvelopeId" value="https://staging.credentialengineregistry.org/ce-registry/envelopes/{0}" />
		<add key="credentialRegistrySearch" value="https://staging.credentialengineregistry.org/navy/search?" />
		<add key="credRegistryResourceUrl" value="https://staging.credentialengineregistry.org/navy/resources/" />
		<add key="credRegistryGraphUrl" value="https://staging.credentialengineregistry.org/navy/graph/" />


		<!-- ACCOUNT/CONTACT US NOTIFICATION ====================================================== -->
		<!-- notifyOnEmailNotFound: if true, user will be notified where email not found during forgot password process -->
		<add key="notifyOnEmailNotFound" value="true" />
		<add key="notifyOnEmailNotConfirmed" value="true" />
		<!-- EmailService: smtp, serviceApi, sendGrid, mailgun, or blank if no email service -->
		<add key="emailService" value="mailgun" />
		<!-- use web service, and ignore others TEMP UNTIL OUR OWN IS SET UP-->
		<add key="SendEmailService" value="" />
		<add key="SmtpHost" value="localhost" />

		<!-- sendEmailFlag - use TRUE uppercase to set on -->
		<add key="sendEmailFlag" value="TRUE" />
		<add key="usingTempOverrideEmail" value="yes" />
		<add key="allowingCachingEmailTemplates" value="false" />

		<!-- contact US email addresses ================================================================ -->
		<add key="contactUsMailTo" value="mparsons@credentialengine.org" />
		<!--<add key="contactUsMailFrom" value="DoNotReply@credentialengine.org" />-->
		<add key="contactUsMailFrom" value="DoNotReplyTest@credentialengine.org" />
		<!-- Email for system and/or application related messages -->
		<add key="systemAdminEmail" value="mparsons@credentialengine.org" />
		<add key="systemNotifyFromEmail" value="publisherDevEnv@credentialengine.org" />
		<add key="sendApprovalIfBySiteStaff" value="true" />
		<add key="approvalCCs" value="mparsons@credentialengine.org" />
		<add key="logAllEmail" value="yes" />
		<!-- LOG SETTINGS ========================================================================
      Notes:
        - Be sure to give write access to the everyone role for the following log file
    -->
		<add key="logErrors" value="yes" />
		<add key="notifyOnException" value="no" />
		<add key="appTraceLevel" value="7" />
		<add key="botTraceLevel" value="6" />
		<add key="path.error.log" value="C:\@logs\[date]_SolidTest_ErrorLog.txt" />
		<add key="path.email.log" value="C:\@logs\[date]_SolidTest_EmailLog.txt" />
		<add key="path.trace.log" value="C:\@logs\[date]_SolidTest_TraceLog.txt" />
		<add key="path.botTrace.log" value="C:\@logs\[date]_SolidTest_botTraceLog.txt" />
		<add key="path.log.file" value="C:\@logs\SolidTest\[date]_[filename].txt" />
		<add key="doingLinkChecking" value="true" />
		<add key="urlExceptions" value="" />
	</appSettings>
</configuration>